#right-or-wrong {
  border-top: 20px solid #ddd;
}

#answer-options button {
  border-radius: 1.25rem;
}

#quiz-question {
  font-size: 2rem;
  font-weight: bold;
}

#view-highscores:hover {
  cursor: pointer;
  text-decoration: underline;
}

.jumbotron {
  padding-top: 1rem;
  background-color: white;
}
